.block3 {
	padding: 0;
}
.block3 > li{
	margin: 0 0 10px 0;
	list-style: none;
}
.block4 {
	
}
.block4 > li {
	display: block;
	width: auto;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
}
.center-block {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.z_top {
    font-size: 12px;
    height: 30px;
    background: #f1f1f1;
    border-bottom: 1px solid#edf2f4;
}
.z_top .z_top_left_ul {
	list-style: none;
    height: 30px;
    line-height: 30px;
}
.z_top .z_top_right_login {
	list-style: none;
    height: 30px;
    line-height: 30px;
}
.z_top .z_top_left_ul li {
    height: 30px;
    border-right: 1px solid#e9e9e9;
    text-align: center;
}
.z_top .leftborder {
    border-left: 1px solid#e9e9e9;
}
.z_top .z_top_left_ul li a {
    text-decoration: none;
    color: #505050;
    width: 90px;
    display: block;
}
.z_top .z_top_right_login li a {
    text-decoration: none;
    color: #505050;
    width: 90px;
    display: block;
}
.z_top_header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 30px;
}
.z_top_left {
    float: left;
    width: 300px;
    height: 30px;
}
.z_top_left .z_top_left_ul li {
    float: left;
    width: 91px;
}
.z_top_right {
    float: right;
    width: 300px;
    height: 30px;
}
.z_top_right .z_top_right_login {
    float: right;
}
.z_top_right .z_top_right_login > li {
    float: left;
}
.z_top .padd {
    padding: 0px 10px;
}
.z_top .visiting {
	list-style: none;
    position: absolute;
    display: none;
    z-index: 15;
    background: #fafafa;
    float: clear;
}
.z_top .visiting li {
	width: 80px;
	padding: 10px;
	margin: 0;
	text-align: center;
}
.z_top .visiting li:hover {
	background: #c5c5c5;
}
.z_top .visiting li:active {
	background: #c0c0c0;
}
.z_top .visiting .tgao li a {
    border: 2px solid#D0DEEB;
    border-style: outset;
}
.z_top .visiting .tgao li a:active {
    border-style: inset;
}
.z_top .visiting ul a {
    width: auto;
}
.z_top .visiting li a {
    width: auto;
}

/* 不同模板之间兼容调整 */
#eFramePic table td {
	vertical-align: top;
	border-right: 0;
	border-bottom: 0;
	padding: 0;
}
#picCont table {
	max-width: 108px;
	max-height: 108px;
}
#endSelect {
	height: 100px;
}
#endSelect p {
	color: #FFFFFF;
}

/*
.hover {
	position: relative;
	display: none;
	z-index: 12;
	top: -54px;
}
*/

.left-banner {
    position: fixed;
    top: 20%;
    left: 0;
}
.right-banner {
    position: fixed;
    top: 20%;
    right: 0;
}


