.block3 {
	padding: 0;
}
.block3 > li{
	margin: 0 0 10px 0;
	list-style: none;
}
.block4 {
	
}
.block4 > li {
	display: block;
	width: auto;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
}
.center-block {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* 不同模板之间兼容调整 */
#eFramePic table td {
	vertical-align: top;
	border-right: 0;
	border-bottom: 0;
	padding: 0;
}
#picCont table {
	max-width: 108px;
	max-height: 108px;
}
#endSelect {
	height: 100px;
}
#endSelect p {
	color: #FFFFFF;
}

/*
.hover {
	position: relative;
	display: none;
	z-index: 12;
	top: -54px;
}
*/

.left-banner {
    position: fixed;
    top: 20%;
    left: 0;
}
.right-banner {
    position: fixed;
    top: 20%;
    right: 0;
}


